<%= form_tag(@action, method: @http_verb, class: 'post-form') do %>
  <div class="form-group">
    <%= label_tag(:title, "Title: ") %>
    <%= text_field_tag(:title, @post.title, size: 40) %>
  </div>

  <div class="form-group">
    <%= label_tag(:tags, "Tags: ") %>
    <%= text_field_tag(:tags, @tags, size: 40) %>
  </div> 

  <div class="form-group">
    <%= label_tag(:content, "Content: ") %>
    <br/>
    <%= text_area_tag(:content, @post.content, rows: 40, cols: 80) %>
  </div>

  <div><%= submit_tag 'Save', class: 'btn btn-default' %></div>
<% end %>
