<%= render partial: "post", object: @post %>

<div class="post-nav">
  <% if @post.user == current_user %>
    <%= link_to "Edit Post", edit_post_path(@post), class: 'btn btn-info' %>
    <%= link_to "Delete Post", post_path(@post), class: 'btn btn-danger',
        method: :delete,
        data: { confirm: "Are you sure you want to delete this beautiful piece of writing?"} %>
  <% end %>
</div>

<div class="comments">
  <% if current_user %>
    <%= render partial: "comments/form", locals: { post: @post } %>
  <% end %>

  <% @post.comments.each do |c| %>
    <%= render partial: "comments/comment", locals: { comment: c } %>
  <% end %>
</div>

