<!DOCTYPE html>
<html>
<head>
  <title>Blarg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1> Welcome to my beautiful internet thing </h1>
      <p class="notice"><%= flash[:notice] %></p>
      <p class="alert"><%= flash[:alert] %></p>
    </div>
    <div class="row">
      <div class="sidebar col-xs-2">
        <ul class="list-unstyled">
          <% if current_user %>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete,
                            class: 'btn btn-warning' %></li>
          <% else %>
             <li><%= link_to "Login", new_user_session_path, class: 'btn btn-success' %>
          <% end %>
          <li><%= link_to "Blarg", posts_path, class: 'btn btn-info' %></li>
          <li><%= link_to "Add New Post", new_post_path, class: 'btn btn-info' %></li>
        </ul>
      </div>
      <div class="main-content col-xs-10">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
